<ion-header>
  <ion-toolbar style="text-align: center">
    <ion-title>
      <b>Pet Rescue</b> Center</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex; justify-content: center; padding-top: 20px;">
    <ion-card *ngFor="let pet of pet$ | async" (click)="openForm(pet)" style="align-items: center; display: flex; flex-direction: column; cursor: pointer; max-width: 300px">
      <ion-card-header>
        <ion-card-title>{{pet?.name}}</ion-card-title>
        <ion-card-subtitle>{{pet?.breed}}</ion-card-subtitle>
        <ion-card-content>{{pet?.seeking_owner ? 'Currently seeking owner' : 'Currently does not seek owner' }}. {{pet?.description}}
        </ion-card-content>
      </ion-card-header>

      <ion-card-content>
        <app-pet-graphic [pet]="pet"></app-pet-graphic>
      </ion-card-content>
    </ion-card>

    <ion-card style="opacity: .7; align-items: center; display: flex; flex-direction: column; cursor: pointer;" *ngIf="auth.can('post:pets')"
      (click)="openForm()">
      <ion-card-header>
        <ion-card-title>Create pet ad</ion-card-title>
      </ion-card-header>

      <ion-card-content style="color:grey; font-size: 256%;">
        <ion-icon name="add-circle"></ion-icon>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>